:root{
    --bg--color: #f9f4ef;
    --secondary-color: #8c7851;
    --tertiary-color: #f25042;
    --font--header--color: #020826;
    --font--color: #2d334a;
    

body{
    background-color: var(--bg--color);
    color: var(--font--color);
    font-family: 'Tinos', Lato, sans-serif;
    padding: 0;
    margin: 0;
}
}

main{
    padding: 20px 40px 20px 40px;
}

h1{
    color: var(--font--header--olor);
    font-size: 3.5rem;
    font-weight: 700;
    text-align: center;
    margin: 0;
    padding: 0;
}

.subtitle{
    color: rgb(151 156 165 / 0.89);
    font-size: 2.25rem;
    font-weight: 700;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
}

p{
    font-size: 1.125rem;
    line-height: 1.5;
    margin: 0;
    padding: 0;
}

#photo{
    width: 8vw;
    height: auto;
}

footer{
    font-size: 0.875rem;
    text-align: center;
    padding: 30px 0px 40px 0px;
    background-color: var(--secondary-color);
}

footer p {
    color: #fffffe;
    font-size: 1.125rem;
    margin: 0;
    padding: 0;
    text-align: right;    
    font-style: italic;    
}

footer img {
    color: #f9f4ef;
    font-size: 1.125rem;
    margin: 0;
    padding: 0;
    text-align: right;    
    font-style: italic;    
}

nav > ul {
    list-style: none;       
    padding-left: 0;        
    margin: 0;
    display: flex;                
    gap: 2rem;                    
    justify-content: center;
}

section {
    border: 0.2pt solid #cedddd;
    margin: 4px 2px 8px 2px;
    padding: 1.5% 0.8%;
    margin-bottom: 1.2rem;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 3px 3px 1px 0px rgba(235, 234, 234, 0.60);
    -moz-box-shadow: 3px 3px 1px 0px rgba(235, 234, 234, 0.60);
    box-shadow: 3px 3px 1px 0px rgba(235, 234, 234, 0.60);
    border-color: var(--secondary-color);

}